#red-box {
    border: 2px solid rgb(255, 73, 73);
    background-color: rgb(255, 73, 73);
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 200px;
}

#box-container {
    display: grid;
    height: 100%;
    padding: 20%;
}

body {
  font-family: "Cherry Bomb One", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 73, 73);
}

.header h1{

  color: rgb(255, 73, 73);
    flex-basis: 49%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about {
    color: rgb(255, 73, 73);
    text-decoration: none;
  }